:root {
    --sedan: hsl(31, 77%, 52%);
    --suv:  hsl(184, 100%, 22%);
    --lux: hsl(179, 100%, 13%);
    --white : hsl(0, 0%, 95%);
    --p-color: hsla(0, 0%, 100%, 0.75)

}

body {
    background-color: var(--white);
    overflow: hidden;
}

#container {
    display: flex;
    width: 70%;
    height: auto;
    margin:  9% auto;
    overflow: hidden; 
    border-radius: 10px; 
    
}

.cars {
    padding : 4% 4.5% 4% 4.5%;
    display: grid;
    grid-template-rows: 10% 20% 35% 30%;
}

.cars img {
    width: 25%;
    height: auto;
    grid-row: 1/2;   
}

.cars h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    font-size: 2.5em;
    grid-row: 2/3;
    margin-top : 1em ;
    align-self: center;

}

.cars p {
    font-family: 'Lexend Deca';
    color: var(--p-color);
    line-height: 1.5em;
    font-weight: 400;
    margin-bottom: 6em;
    font-size: 0.9em;
    grid-row: 3/4;

}

.cars .learn {
    grid-row: 4/5;
    align-self : end ;   
}

.cars .learn button {
    border-radius: 3.125em;
    border: none; 
    padding: 1em 2em;
    font-family: 'Lexend Deca';
    font-size: 0.9em;
    cursor: pointer;
}


#sedan {
    background-color: var(--sedan);
}

#suv{
    background-color: var(--suv);
}

#luxury{
    background-color: var(--lux);
}

#sedan button {
    color: var(--sedan);
    border: 0.06em solid transparent;
}

#suv button {
    color: var(--suv);
    border: 0.06em solid transparent;
}

#luxury button {
    color: var(--lux);
    border: 0.06em solid transparent;
}

#sedan button:hover {
    background-color: var(--sedan);
    color: var(--white);
    border: 0.06em solid var(--white);
}

#suv button:hover {
    background-color: var(--suv);
    color: var(--white);
    border: 0.06em solid var(--white);
}

#luxury button:hover {
    background-color:var(--lux);;
    color: var(--white);
    border: 0.06em solid var(--white);
}

@media (max-width: 768px) {

    body {
        background-color: var(--white);
        overflow: visible;
    }

    #container {
        flex-direction: column;
        
       
    }

    .cars {
        padding : 5% 8% 5% 8%;
        display: grid;
        grid-template-rows: 10% 20% 25% 25%;
        
        
    }





}








